  h2 {
  font-family: 'Open Sans';
  font-style: light;
  font-weight: 400;
  }

  p,
  div {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    color: #aaa;
  }
  
  .node {
    font-family: 'Open Sans';
    font-style: semi-bold;
    font-weight: 200;
    font-size: 12px;
    fill: #aaa;
  }
  
  .node:hover {
    fill: #000;
  }
  
  .link {
    stroke: steelblue;
    stroke-opacity: 0.4;
    fill: none;
    pointer-events: none;
  }
  
  .node:hover,
  .node--source,
  .node--target {
    font-weight: 700;
  }
  
  .node--source {
    fill: #2ca02c;
  }
  
  .node--target {
    fill: #d62728;
  }
  
  .link--source,
  .link--target {
    stroke-opacity: 1;
    stroke-width: 2px;
  }
  
  .link--source {
    stroke: #d62728;
  }
  
  .link--target {
    stroke: #2ca02c;
  }
